BALLPARKPAL_API_KEY=
ODDS_API_IO_KEY=
ODDS_API_IO_BASE_URL=https://api.odds-api.io/v3
ODDS_API_IO_BOOKMAKERS=DraftKings,FanDuel
ODDS_TIMEZONE=America/New_York
WEATHERAPI_KEY=
VISUAL_CROSSING_API_KEY=
